<div class='background-profile-first'>
  <h4 class="">MY DRESSES</h4>
  <div class="cards">
    <%if @dresses%>
      <div class="row justify">
        <% @dresses.each do |dress| %>
              <div class="profile-card">
                <%= cl_image_tag dress.photo.key %>
                <div class="card-trip-infos">
                  <h2><%= link_to dress.title, dress_path(dress) %></h2>
                  <p class="top-cards"><%= sprintf("%.2f", dress.price_per_day) %> € per day | <%= dress.size %> | <%= dress.category %></p>
                </div>
              </div>
        <%end%>
      </div>
    <%end%>
  </div>
</div>

<%= link_to 'Add a dress', new_dress_path %>

<div class='background-profile-second'>
  <h4>I HAVE BOOKED</h4>
  <div class="cards">
    <%if @bookings%>
      <div class="row justify">
        <% @bookings.each do |booking| %>
            <div class="profile-card">
              <%= cl_image_tag booking.dress.photo.key %>
              <div class="card-trip-infos">
                <h2><%= link_to booking.dress.title, dress_path(booking.dress) %></h2>

                <p class="d-flex justify-content-between">
                  <span class="opacity">From: <%= booking.start_date.strftime("%d-%m-%Y") %></span>
                  <span class="opacity">Until: <%= booking.end_date.strftime("%d-%m-%Y") %></span>
                </p>

                <p class="d-flex justify-content-between">
                  <span class="opacity">Total price: <%= sprintf("%.2f", booking.dress.price_per_day * (booking.end_date - booking.start_date)) %> €</span>
                  <%if booking.accepted?%>
                    <span class="green"><%= booking.status %></span>
                  <%elsif booking.declined?%>
                    <span class="red"><%= booking.status %></span>
                  <%else%>
                    <span class="opacity"><%= booking.status %></span>
                  <%end%>
                </p>
              </div>
            </div>
        <%end%>
      </div>
    <%end%>
  </div>
</div>

<div class='background-profile-third'>
  <h4>OTHERS WANT TO BOOK</h4>
  <%if @booking_requests%>
    <% @booking_requests.each do |booking_request| %>

       <div class="card-booking">
  <%= cl_image_tag booking_request.dress.photo.key %>
  <div class="card-booking-infos">
    <h2><%= booking_request.dress.title %></h2>
    <p class="d-flex justify-content-between">
      <span class="opacity">From: <%= booking_request.start_date.strftime("%d-%m-%Y") %></span>
      <span class="opacity">Until: <%= booking_request.end_date.strftime("%d-%m-%Y") %></span>
    </p>
    <p class="d-flex justify-content-between">
        <span class="opacity">Total price: <%= sprintf("%.2f", booking_request.dress.price_per_day * (booking_request.end_date - booking_request.start_date)) %> €</span>
        <%if booking_request.accepted?%>
          <span class="green"><%= booking_request.status %></span>
        <%elsif booking_request.declined?%>
          <span class="red"><%= booking_request.status %></span>
        <%else%>
          <span class="opacity"><%= booking_request.status %></span>
        <%end%>
      </p>
  </div>
</div>
        <%if booking_request.pending? %>
          <%= link_to '✔️', accept_booking_path(booking_request), data: {turbo_method: :patch, turbo_confirm: "Are you sure? This action can't be reversed!"} %>
          <%= link_to '❌', decline_booking_path(booking_request), data: {turbo_method: :patch, turbo_confirm: "Are you sure? This action can't be reversed!"} %>
        <%end%>

    <%end%>

  <%end%>
</div>
