<div class="booking_container dress">
  <div class="booking_form dress-form">
    <h4>EDIT YOUR DRESS</h4>
    <%= simple_form_for @dress do |f| %>
      <%= f.input :title%>
      <%= f.input :description%>
      <%= f.input :size, collection: Dress::SIZE %>
      <%= f.input :color%>
      <%= f.input :category, collection: Dress::CATEGORY %>
      <%= f.input :price_per_day%>
      <div class="d-flex justify-content-center mt-5">
        <%= f.button :button, 'Confirm', class: "btn-test" %>
      </div>
    <% end %>
  </div>
</div>
