<div class="booking_container">
<div class="booking_form">
<h4>EDIT YOUR DRESS</h4>
<%= simple_form_for @dress do |f| %>
  <%= f.input :title%>
  <%= f.input :description%>
  <%= f.input :size, collection: Dress::SIZE %>
  <%= f.input :color%>
  <%= f.input :category, collection: Dress::CATEGORY %>
  <%= f.input :price_per_day%>
  <%= f.button :submit, class: "btn-test", value: "Confirm" %>
<% end %>

</div>
</div>
