<div class="banner">
  <div class="container">
    <h1> <strong>Rent A Dress</strong></h1>
    <p>No stress to dress</p>
  </div>
</div>


<div class="background-beige">
  <div class="container cards">
    <div class="row row-cols-4 justify">
    <% @dresses.each do |dress| %>
      <% if @user != dress.user %>
      <div class="col col-centered ">
        <div class="profile-card">
        <% if dress.photo.attached? %>
          <%= cl_image_tag dress.photo.key%>
        <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to dress.title, dress_path(dress) %></h2>
              <p class="top-cards"><%= sprintf("%.2f", dress.price_per_day) %> € per day | <%= dress.size %> | <%= dress.category %></p>
              <p class="top-cards">By <%= dress.user.name %></p>
            </div>

          </div>
        </div>
        </div>
      <%end%>
    <%end%>
    </div>
  </div>
</div>
