<h3>Add a new dress</h3>

<%= simple_form_for @dress do |f| %>
  <%= f.input :title%>
  <%= f.input :description%>
  <%= f.input :size, collection: Dress.SIZE %>
  <%= f.input :color%>
  <%= f.input :category, collection: Dress.CATEGORY %>
  <%= f.input :price_per_day%>
  <%= f.button :submit %>
<% end %>
