
<div class='background-beige'>

  <div class="details-card">
    <%= cl_image_tag @dress.photo.key %>
    <div class="details-infos">
      <div class="desc">
        <p class="desc-text">"<%= @dress.description %>"</p>
      </div>
      <div class = "bottom-infos">
        <p><%= @dress.size %> | <%= @dress.color %> | <%= @dress.category %> </p>
        <p><%= sprintf("%.2f", @dress.price_per_day) %> € per day | by <%= @dress.user.name %></p>
      </div>
    </div>

    <div class="btn-container">
      <% if current_user != @dress.user %>
        <button class="btn-test">
          <span class="d-flex justify-content-evenly align-items-center"><%=link_to 'Book', new_dress_booking_path(@dress)%></span>
        </button>
      <%end%>
      <% if current_user == @dress.user %>

          <button class="btn-test mx-3">
            <%=link_to 'Update', edit_dress_path(@dress)%>
          </button>
          <button class="btn-test mx-3">
            <%=link_to 'Delete', dress_path(@dress), data: {turbo_method: :delete, turbo_confirm: "Are you sure? This action can't be reversed!"} %>
          </button>

      <%end%>
    </div>
  </div>
</div>
