<h3>Details of <%=@dress.title%> dress</h3>

  <h5>Description: <%= @dress.description %> </h5>
  <h5>Size: <%= @dress.size %> </h5>
  <h5>Color: <%= @dress.color %> </h5>
  <h5>Category: <%= @dress.category %> </h5>
  <h5>Price: <%= @dress.price_per_day %> /€</h5>
  <h5>Owner: <%= @dress.user.name %> </h5>
<% if current_user != @dress.user %>
  <%=link_to 'Book this dress', new_dress_booking_path(@dress)%>
<%end%>
<% if current_user == @dress.user %>
  <%=link_to 'Update this dress', edit_dress_path(@dress)%>
  <%=link_to 'Delete this dress', dress_path(@dress), data: {turbo_method: :delete, turbo_confirm: "Are you sure? This action can't be reversed!"} %>
<%end%>
