<!DOCTYPE html>
<html>
  <head>
    <title>RentADress</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-expand justify-content-end bg-white">
      <% if current_user == nil %>
        <a class='pe-3' href="<%=  new_user_registration_path %>">Sign up</a>
        <a class='pe-3' href="<%= new_user_session_path %>">Log in</a>
      <% else %>
        <a class='pe-3' href="<%= user_path(current_user) %>">My profile</a>
        <a href="/">Browse dresses</a>
        <%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete,
        class: "btn btn-link"
        ) %>
      <%end%>
    </div>

    <%= yield %>
  </body>
</html>
